body :hover *{
    opacity: 0.5;
}
body{
 
    margin: 20px;
    background-color: #D9A41F;
}


h1{
    
   background-color:rgb(187, 104, 20);
  outline-style: groove;
    color:gainsboro;
}
.lable :hover a{
opacity: 0.5;
}
.lable{
 background-color:rgb(240, 148, 68);
    font-family:sans-serif;
    color:rgb(21, 168, 87);
    
bottom: 50px;
left: 16px;
outline-style: double;
padding: 15px;
display: flex;
justify-content: space-between;
font-weight:bolder;
}
.bottom-left{
    display: flex;
    justify-content: space-between;
    padding: 15px;font-weight: bolder;
    background-color: rgb(223, 129, 48);
    color:rgb(40, 161, 15);
   font-family:Georgia, 'Times New Roman', Times, serif;
           outline-style: double;
   font-size: 20;
}
.camel{
    display: flex;
    justify-content: space-between;
    padding: 15px;font-weight: bolder;
    color: rgb(204, 0, 255);
    background-color: rgb(214, 212, 89);
    outline-style:double;
}
.pigeon{
    color: rgb(73, 57, 214);
    display: flex;
    justify-content: space-between;
    padding: 15px;font-weight: bolder;
   background-color: rgb(50, 196, 196);
    outline-style:double;
}

.chameleon{
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 15px;font-weight: bolder;
    background-color: rgb(210, 247, 0);
    outline-style:double;
}
.teddy{
    color: rgb(196, 127, 0);
    display: flex;
    justify-content: space-between;
    padding: 15px;font-weight: bolder;
    background-color: rgb(254, 196, 131);
    outline-style: double;
}

.panda{
    
    color: rgb(82, 255, 140);
    display: flex;
    justify-content: space-between;
    padding: 15px;font-weight: bolder;
    background-color: rgb(76,82,105);
    outline-style:double;
}
.flying{
    color:rgb(184, 138, 78);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: bolder;
    background-color: rgb(255,168,85);
    outline-style: double;
}
.main :hover *{
opacity: 0.5;

}
a:link{
    color:rgb(209, 0, 0);
 
}
a:visited{
    color:rgb(255, 0, 119);
}